<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>foodforum</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
<script src="http://api.mygeoposition.com/api/geopicker/api.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"
        async defer></script>


  </head>
  <body>
    

  <body>
  	<div class="container">
    <nav class="navbar navbar-default">
  		<div class="container-fluid">
    	<div class="navbar-header">
      	<a class="navbar-brand" href="/">Food Forum</a>
    	</div>
    <div>
      <ul class="nav navbar-nav centro">
        <li><a href="/patron">Join</a></li>
         <li><a href="/business">Add Your Business</a></li>
         <li><a href="/list">Talk Shop</a></li>
         <li><a href="/Users">Users</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="row">
  <script type="text/javascript">
    var clicks = 0;
    function onClick() {
        clicks += 1;
        document.getElementById("clicks").innerHTML = clicks;
    };
    </script>
  

  <div class="col-md-6 business">
    <img src="/img/glyphicons-344-thumbs-up.png" heigth="25" width="25"></h2>
    <button type="button" onClick="onClick()">like</button>
    <p>Likes <a id="clicks">0</a></p>
  <h2><img src="<%=business.image%>" class="img-rounded" heigth="225" width="225"> </h2>
	<h2><%=business.name%> 
  <h4><%=business.address%></h4>
  <h4><%=business.type%></h4>

  <h2 class="geo"></h2>
 
    <h4>Locate this business or other places</h4>

    <script type="text/javascript">
        function lookupGeoData14() {            
            myGeoPositionGeoPicker({
                returnFieldMap                    : {'geoposition14' : '<LAT>,<LNG>'},
                zoomLevel                            : 16,
                startPositionInputFieldIds        : ['fieldStreet', 'fieldCity']
            });
        }
    </script>
    
    <input type="text" class="form-control" name="fieldStreet" id="fieldStreet" placeholder="Enter Street"><br>
    <input type="text" class="form-control" name="fieldCity" id="fieldCity" placeholder="Enter City"><br>
   <button type="button" onclick="lookupGeoData14();">Locate</button>

 </div>
  <div class="col-md-6 scrollable">
  <%comments.forEach(function(rows){%>
  <p class="lead"><small><bold><%=rows.comment%></bold></small></p>
  <div class="emoji">
  <h5><img src="/img/glyphicons-246-chat.png" heigth="25" width="25"> <mark><%=rows.username%></mark> <%=rows.created_at%></h5>
</div>
  <%})%>
    <form action="/business/comments/<%=business.id%>?_method=DELETE" method="POST">
    <button>DELETE</button>
  </form>
  </div>

<div class="col-md-6 comment">
    <form action="/business/comments/<%=business.id%>" method="POST">
  <input type="text" class="form-control" name="comment" placeholder="Comment Here"><br>
  <input type="text" class="form-control" name="username" placeholder="username"><br>
  <button>Submit</button>
  </form>
  </div>
	

	</div>
    <script src="geoPosition.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

